    html,
    body {
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
        background-color:gainsboro;
    }
    
    .psv-button.custom-button {
        font-size: 22px;
        line-height: 20px;
    }
    
    .psv-loader-canvas {
        display: none;
    }
    
    .psv-navbar {
        z-index: 99999;
    }
    
    .paranoma-roaming-container {
        width: 100%;
        height: 100%;
    }
    
    .paranoma-roaming-preload {
        position: absolute;
        z-index: 9999;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    
    .paranoma-roaming-preload-logo {
        display: block;
        width: 200px;
        height: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -100px;
        margin-top: -100px;
        background-image: url(loading.gif);
        background-size: 100%;
    }
    
    .paranoma-roaming-preload-logo-hidden {
        display: none;
    }
    
    .pr-iframe-video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 99999;
        /*opacity: .9;*/
    }
    
    .pr-iframe-video>iframe {
        width: 100%;
        height: 100%;
    }
    
    .pr-iframe-video-hidden {
        display: none;
    }
    
    .pr-iframe-audio {
        display: none;
    }
    
    .pr-iframe-preload {
        display: none;
    }